/* Color Theme Swatches in Hex */
$color-1-hex: #b3c8c3;
$color-2-hex: #156491;
$color-3-hex: #273742;
$color-4-hex: #00aaad;
$color-5-hex: #001e35;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(179, 200, 195, 1);
$color-2-rgba: rgba(21, 100, 145, 1);
$color-3-rgba: rgba(39, 55, 66, 1);
$color-4-rgba: rgba(0, 170, 173, 1);
$color-5-rgba: rgba(0, 30, 53, 1);
